/*  цвет основного текста #212121 */
/* вторичный цвет #757575 */
/*  белый #FFFFFF */
/* прозрачный белый rgba(255, 255, 255, 0.6); */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */

:root{
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --light-grey-color: #F5F4FA;
    --logo-color: #000000;
    }

    body{
        font-family: 'Roboto', sans-serif;
        color: var(--title-color);
        background-color: var(--white-color);
    }
    
    .list{
        list-style: none;
    }
    
    .link{
        text-decoration: none;
    }
    .logo{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
    }
    .logo-light{
        color: var(--logo-color);
    }

    /* Navigation */

    .site-nav .link,
    .contact-list .link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .site-nav .link{
        color: var(--title-color)
    }
    .site-nav .link:hover,
    .site-nav .link:focus{
        color: var(--accent-color);
    }
    .site-nav .link.current{
        color: var(--accent-color);
    }

    /* Contacts */

    .contact-list .link{
        color: var(--text-color);
    }

    .contact-list .link:hover,
    .contact-list .link:focus{
        color: var(--accent-color);
    }

    /* HERO */

    .hero{
        background-color: var(--secondary-bg-color);
    }
    .hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /* text-align: center; */
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
    }

    .order-button{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* display: flex;
        align-items: center;
        text-align: center; */
        letter-spacing: 0.06em;
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
    }

    .order-button:hover,
    .order-button:focus{
        background-color: var(--secondary-accent-color);
    }

    /* Sections */

    .features-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-color);
    }
    .features-text{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--text-color);
    }

    .section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        /* text-align: center; */
        letter-spacing: 0.03em;
    }

    /* Our Team */

    .our-team{
        background-color: var(--light-grey-color);
    }

    .team-position{
        line-height: 1.19;
        /* text-align: center; */
        letter-spacing: 0.03em;
        color: var(--text-color);
    }

    /* Footer */
    .footer{
        background-color: var(--secondary-bg-color);
    }
    .logo-dark{
        color: var(--white-color);
    }

    .footer-list{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .footer-address-link{
        color: var(--white-color);
    }
    .footer-tel-link, 
    .footer-mail-link{
        color: var(--transparent-white-color);
    }


    /* ===== PORTFOLIO SECTION ====== */

    /* Buttons */

    .filter-button{
        color: var(--title-color);
        background-color: var(--light-grey-color);
        border-radius: 4px;
        border: none;
    }

    .filter-button:hover,
    .filter-button:focus{
        color: var(--white-color);
        background-color: var(--accent-color);
    }

    /* Portfolio */

    .project-class{
        color: var(--text-color);
    }