.services{
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.serv-list{
    @extend %list;
    @include flex-center;
  }
  
  .serv-list__item:not(:last-child){
    margin-right: 30px;
  }
  
  .serv-list__item{
    position: relative;
  }
  
  .serv-list__item::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .serv-list__text{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
 
    text-align: center;
    
    color: $color-white;
  }