.team{
    margin-bottom: 94px;
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: $color-grey-light;
}

.team-list{
    @extend %list;
    @include flex-center;
  }

  .team-card {
    margin-right: 30px;
    text-align: center;
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .team-card:last-child{
    margin-right: 0;
  }
  
  .team-name {
    margin-bottom: 10px;
    margin-top: 30px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  .team-position {
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-text;
  }