.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}

.nav-flex {
  display: flex;
  align-items: center;

  .logo {
    @media screen and (min-width: $desktop) {
      margin-right: 92px;
    }
  }
}

.nav-list {
  @extend %list;
  margin-bottom: 302px;

  @media screen and (min-width: $tablet) {
    @include flex-center;
    margin-bottom: 0;
  }
}

.nav-list__item:not(:last-child) {
  @media screen and (max-width: $tablet) {
    display: block;
  }
}

.nav-list__item + .nav-list__item {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.nav-logo {
  color: $color-black;
}

//   NAVIGATION

.nav-list__link {
  @extend %link;
  position: relative;
  display: inline-block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $color-title;

  &:hover::after,
  &:focus::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background-color: $color-accent;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.current {
  color: $color-accent;

  // &::after {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;

  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 4px;

  //   background-color: $color-accent;
  //   border-radius: 2px;
  // }
}

// MENU

.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: absolute;
    display: none;

    z-index: 999;

    top: 100%;
    left: 0;
    width: 100%;

    background-color: $color-white;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    text-align: left;
    font-size: 20px;
  }

  &.is-open {
    display: block;
    & ~ .logo {
      background-color: aqua;
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 0;
    width: 100%;
  }
}
// CONTACTS

.contact-list {
  @extend %list;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;

  @media screen and (min-width: $tablet) {
    margin-left: 90px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.contact-list__item {
  display: flex;
  align-items: center;
  color: $color-text;

  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: $desktop) and (min-width: $tablet) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
}

.contact-list__mail-link,
.contact-list__tel-link {
  @extend %link;

  display: block;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $color-text;

  @media screen and (min-width: $tablet) {
    @include flex-center;

    font-size: 12px;
  }

  .contact-list__item:hover &,
  .contact-list__item:focus & {
    color: $color-accent;
  }
}

@media screen and (max-width: $mobile) {
  .contact-list__mail-link {
    font-size: 24px;
  }
}

.contact-list__mail-icon,
.contact-list__tel-icon {
  display: none;

  @media screen and (min-width: $tablet) {
    @include flex-center;
    fill: currentColor;
    margin-right: 8px;
  }

  .contact-list__item:hover &,
  .contact-list__item:focus & {
    color: $color-accent;
  }
}

@media screen and (max-width: $tablet) {
  .social-list__header {
    @include flex-center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-link__header {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $color-accent;
  }

  .social-item__header:not(:last-child) {
    margin-right: 20px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: $tablet) {
  .social-list__header{
    display: none;
  }
}
