
    $color-text: #757575;
    $color-title: #212121;
    $color-accent: #2196f3; 
    $color-accent-secondary: #188ce8;
    $color-white-transparent: rgba(255, 255, 255, 0.6);
    $color-white: #ffffff;
    $color-bg-secondary: #2F303A;
    $color-grey-light: #f5f4fa;
    $color-black: #000000;
    $color-border: #eeeeee;   
    $color-social-links: #AFB1B8;